@charset "UTF-8";

body { background: white; color: white; font-size: 16px; }

h1, h2 { font-family: 'Mystery Quest', cursive; }

section, article, .subImagesContainer { position: relative; width: 635px; margin: 0 auto; border: 0; }

.heading { text-align: center; margin-top: 15px; font-size: 2em; }

.image-holder {
	width: 153px;
	height: 422px;
	background: url(../images/fourSeasons.jpg) no-repeat;
	display: inline-block;
	margin: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.image-holder:hover {
	opacity: 0.1;
}

section { margin-top: 15px; background-color: #FFF; }

#summer { background-position: -146px 0; }
#autumn { background-position: -293px 0; }
#winter { background-position: -438px 0; }

.spring { color: #6ebd1a; }
.summer { color: #f8a40a; }
.autumn { color: #930d03; }
.winter { color: #02c5e5; }

.main-copy { background-color: #FFF; font-size: 1.5em; }
.main-copy h2 {
	text-transform: capitalize;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
	margin: 0;
}

.main-copy p {
	color: gray;
	padding: 0 20px;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-bottom: 20px;
}

.subImagesContainer {
	padding: 0;
	width: 560px;
	margin: 0 auto;
 }

.thumb {
	width: 160px;
	margin: 8px;
	border: 5px solid grey;
	border-radius: 5px;
	cursor: pointer;
	transition: opacity 0.2s ease-in;
	transition:  transform 0.2s ease-in;
}

.thumb:hover{
	opacity: 0.8;
	transform: scale(1.1);
}

.lightbox {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0,0,0,0.85);
}

.close-lightbox{
	float: right;
	margin-right: 18px;
	margin-top: 12px;
	font-size: 2em;
	cursor: pointer;
}

.lightbox-img{
	display: block;
	width: 600px;
	margin: 0 auto;
	margin-top: 80px;
	border: 10px solid grey;
	border-radius: 5px;
}

.lightbox p{
	text-align: center;
}

.lightbox h1{
	text-align: center;
}

#close{
	transition: color 0.3s ease-in;
	transition: transform 0.2s ease-in;
}

#close:hover{
	color: grey;
	transform: rotate(-90deg);
  /*-webkit-transform: rotate(-45deg);*/
}

.leftArrow{
	float: left;
	cursor: pointer;
	width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid white;
	transition: color 0.3s ease-in;
	margin-left: 100px;
}

.rightArrow{
	float: right;
	cursor: pointer;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
	transition: color 0.3s ease-in;
	margin-right: 100px;
}

.rightArrow:hover{
	color: grey;
}

.leftArrow:hover{
	color: grey;
}
